/* @import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');  */

@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/public/assets/fonts/Prompt-Regular.ttf');

}


html,body{
  font-family: 'Prompt', sans-serif !important;
  height: 100%;
  /* margin: 0px; */

  
}

#root{
  height: 100%;
}

.css-baqms3{
  height: 100%;
}

/* table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
} */

table.tbMain, .tbMain th, .tbMain td {
  border: 1px solid black;
  border-collapse: collapse;
  height: 100%;
}

table.tbRadioGroup { 
  border-bottom: 0px !important;

} 
table.tbRadioGroup td {
  border-top: 0px !important;
  border-left: 0px !important;
  border-bottom: 0px !important;
  
}

td[colspan="5"] {
  padding: 0px  !important;


}

table.tbRadioGroup td:last-child {
  border-right: 0px !important;
}

.responesiveDiv,
.responesiveDiv>div{
  height: 100%;
}

.css-1p6iztw {
  margin-top: 10px !important;
  /* overflow: unset !important;  */
}
